.container{
    height: 500px;
    display: grid;
    background-color: brown;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:100px 100px;
    gap: 10px; 
    justify-content:center ;
}

.box{
    height: auto;
    width: auto;
    background-color: blue;
    border: 1px solid black;
    
}